<div id="header" class="w-100 h3">
    <header class="bg-wcag-primary h-100 flex items-center">
        <div class="f6 mh3 f4-ns tc">Friso's Component API</div>
        <nav class="h-100">
            <ul class="flex items-center list-clear h-100 list ml3">
                <a class="c-light ph2 no-underline hover-secondary hover-primary" href="{{ site.url }}/index.html">     <li>Home</li>   </a>
                <a class="c-light ph2 no-underline hover-secondary hover-primary"
                   href="https://www.frisovandijk.com"><li>Friso</li></a>
                <a class="c-light ph2 no-underline hover-secondary hover-primary"
                   href="https://github.com/FrisovanDijk/friso-components"><li>Github</li> </a>
            </ul>
        </nav>
    </header>
</div>
